.question-mark-modal {
  display: none;
}
.question-mark-modal-visible {
  display: block;
  height: auto;
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #FFF;
  margin-left: -250px;
  margin-top: -250px;
}

.question-mark--close {
  position: relative;
  float: right;
  margin-bottom: -15px;
  margin-right: -10px;
  border-radius: 100%;
  background: #000;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}
